<%- layout("/layouts/boiler.ejs") %>
<%- include("../hidden/user.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        <h3>Create new Listing</h3>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title </label>
                <input type="text" value="<%= listing.title %>" name="listing[title]" id="title" class="form-control" required>
                <div class="valid-feedback">
                    Valid title 
                </div>
                <div class="invalid-feedback">
                    Give valid title 
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description </label>
                <textarea name="listing[description]" id="description"class="form-control" required><%= listing.description %></textarea>
                <div class="valid-feedback">
                    Valid description 
                </div>
                <div class="invalid-feedback">
                    Give valid description 
                </div>
            </div>
            <div class="mb-3 previewImg">
                <img src="<%= orgImage %>" alt="">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image </label>
                <input type="file" name="listing[image]" id="image"class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price </label>
                    <input value="<%= listing.price %>" type="number" name="listing[price]" id="price"class="form-control" required>
                    <div class="valid-feedback">
                        Valid price 
                    </div>
                    <div class="invalid-feedback">
                        Give valid price 
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label  for="location" class="form-label">Location </label>
                    <input value="<%= listing.location %>" type="text" name="listing[location]" id="location"class="form-control">
                    <div class="valid-feedback" required>
                        Valid location 
                    </div>
                    <div class="invalid-feedback">
                        Give valid location 
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country </label>
                <input value="<%= listing.country %>" type="text" name="listing[country]" id="country"class="form-control" required>
                <div class="valid-feedback">
                    Valid country name 
                </div>
                <div class="invalid-feedback">
                    Give valid country name 
                </div>
            </div>
        <button class="btn btn-dark add-btn">Add</button>
    </form>
</body>