<%- layout("/layouts/boiler.ejs") %>
<style>
  .filters{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .filter a{
    text-decoration: none;
    color: #000;
  } 
  .filter a i{
    font-size: 1.5rem;
  } 
  .filter p{
    font-size: 13px;
  } 
  .filter{
    opacity: 0.7;
    text-align: center;
    margin-right: 1.5rem;
    list-style: none;
  }
  /* .filter:hover{
    opacity: 1;
    font-weight: 800;
  } */
  .filter a:visited{
    
    border-bottom: 3px solid black;
  }
  
  .tax-info{
    display: none;
  }
  .filter-btn{
    padding: 0.8rem;
    border: 1px solid #00000036;
    background-color: white;
    margin: 0 1rem;
    border-radius: 1rem;
    font-size: 0.85rem;
  }
  .tax-switch{
    padding: 0.75rem 4.5rem 0.75rem 0.8rem !important;
    border: 1px solid #00000036;
    background-color: white;
    font-weight: 550;
    border-radius: 1.1rem;
    height: fit-content;
  }
  .switch-radio{
    font-size: 1.5rem;
    margin-top: -0.05rem;
  }
  .fa-sliders{
    margin: 0 0.5rem;
  }
  .tax-label{
    font-size: 0.85rem;
  }
  .filter-icon{
    display: flex;
    overflow: hidden;
    width: 65%;
  }
  .arr{
    height: 2rem;
    width: 2rem;
    border: 1px solid #0000005c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }
 .h-{
  height: 25px;
 }
</style>
<body>
  <div class="searchBar sticky-top">
    <form method="GET" action="/listings" class="d-flex searchips" role="search">
        <input name="data" class="form-control me-2 searchip" type="search" placeholder="Search Destinations" aria-label="Search">
        <button class="btn Sbtn btn-danger" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
        </button>
    </form>
  </div>
  
  <div class="filters">
    <div class="arr">
      <i class="fa-solid fa-chevron-left"></i></div>
    <div class="filter-icon">
      <li class="filter">
        <a href="/listings?q=Beach">
          <i class="fa-solid fa-umbrella-beach"></i>
          <p>Beach</p>
        </a>
      </li>
      </li>
      <li class="filter">
        <a href="/listings?q=Tree house">
          <i class="fa-solid fa-tree-city"></i>
          <p>Tree&nbsp;house</p>
        </a>
      </li>
      <li class="filter">
        <a href="/listings?q=Castles">
          <i class="fa-brands fa-fort-awesome"></i>
          <p>Castles</p>
        </a>
      </li>
      <li class="filter">
        <a href="/listings?q=Mountains">
          <i class="fa-solid fa-mountain-sun"></i>
          <p>Mountains</p>
        </a>
      </li>
      <li class="filter">
        <a href="/listings?q=Skiing">
          <i class="fa-solid fa-person-skiing"></i>
          <p>Skiing</p>
        </a>
      </li>
      <li class="filter">
        <a id="li" href="/listings?q=Camping">
          <i class="fa-solid fa-tents"></i>
          <p>Camping</p>
        </a>
      </li>
      <li class="filter">
        <a id="li" href="/listings?q=Arctic">
          <i class="fa-solid fa-snowflake"></i>
          <p>Arctic</p>
        </a>
      </li>
      <li class="filter">
        <a href="/listings?q=Lakes">
          <i class="fa-solid fa-water"></i>
          <p>Lakes</p>
        </a>
      </li>
      <li class="filter">
        <a href="/listings?q=Golfing">
          <i class="fa-solid fa-golf-ball-tee"></i>
          <p>Golfing</p>
        </a>
      </li>
      <li class="filter">
        <a href="/listings?q=Iconic cities">
          <i class="fa-solid fa-city"></i>
          <p>Iconic&nbsp;cities</p>
        </a>
      </li>
      <li class="filter">
        <a href="/listings?q=Pools">
          <i class="fa-solid fa-person-swimming"></i>
          <p>Pools</p>
        </a>
      </li> 
      <li class="filter">
        <a href="/listings?q=Rooms">
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
        </a> 
    </div>    
    <div class="arr">
      <i class="fa-solid fa-chevron-right"></i>
    </div>    
    <a href="/filters"><button class="filter-btn"><i class="fa-solid fa-sliders"></i>Filters</button></a>
    <div class="form-check-reverse form-switch tax-switch">
      <input class="form-check-input switch-radio" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label tax-label" for="flexSwitchCheckDefault">Display total after taxes</label>
    </div>
  </div>
  </div>
    <div class="row list row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
      <% let count = 0; %>
        <% for(let listing of allListings){ %>
          <% if( (listing.filter == type) || 
          (listing.country == type) || 
          (listing.title == type) ) {%>
            <a href="/listings/<%= listing._id %>">
              <div class="card col card-listing" >
                  <img src="<%= listing.image.url %>"  class="card-img-top" alt="...">
                  <div class="card-img-overlay">
                    
                  </div>
                  <div class="card-body ms-1">
                    <p class="card-text">
                      <b><%= listing.title %></b>
                      <br>
                      <% if(listing.reviews.length > 0) {%>
                          <% let sum=0; %>
                          <% for(review of listing.reviews) {%>
                            <% sum = sum + review.rating; %>
                          <% } %>
                          <i class="fa-solid fa-star"></i>
                          <%= sum/listing.reviews.length %>
                      <% } %>
                      <br>
                      <%= listing.description %> <br>
                      <span class="listing_price"><b>&#8377;  
                        <%= Number(listing.price).toLocaleString("en-IN") %> </b> night
                      </span>
                      <span class="tax-info"><b>&#8377;  <%listing.price=listing.price+(listing.price*0.18);%>
                        <%=Number(listing.price).toLocaleString("en-IN")%> </b> night
                        <i> +18% GST</i>
                      </span>
                    </p>
                  </div>
              </div>
            </a>          
            <% count+=1; %>
          <% } %>
        <% } %>
        <% for(let listing of allListings){ %>
          <% if( count === 0 ){%>
            <a href="/listings/<%= listing._id %>">
              <div class="card col card-listing" >
                  <img src="<%= listing.image.url %>"  class="card-img-top" alt="...">
                  <div class="card-img-overlay">
                    
                  </div>
                  <div class="card-body ms-1">
                    <p class="card-text">
                      <b><%= listing.title %></b>
                      <br>
                      <% if(listing.reviews.length > 0) {%>
                          <% let sum=0; %>
                          <% for(review of listing.reviews) {%>
                            <% sum = sum + review.rating; %>
                          <% } %>
                          <i class="fa-solid fa-star"></i>
                          <%= sum/listing.reviews.length %>
                      <% } %>
                      <br>
                      <%= listing.description %> <br>
                      <span class="listing_price"><b>&#8377;  
                        <%= Number(listing.price).toLocaleString("en-IN") %> </b> night
                      </span>
                      <span class="tax-info"><b>&#8377;  <%listing.price=listing.price+(listing.price*0.18);%>
                        <%=Number(listing.price).toLocaleString("en-IN")%> </b> night
                        <i> +18% GST</i>
                      </span>
                    </p>
                  </div>
              </div>
            </a>
            <% } %>
          <% } %>
      
    </div>
    <script>

    </script>
</body>